body, html {

    font-family: 'Arial', sans-serif;
}

nav h1 {
    font-family: 'Akira Expanded', sans-serif;
    color: #fff;
    margin: 0;
}

nav button {
    font-family: 'Akira Expanded', sans-serif !important;
}