---
import Layout from '../layouts/Layout.astro'
import privacyImage from '../images/privacy.png'
---

<Layout title="Metatron: Unlocking a a just renewable transition for all">
  <main class="grid min-h-screen place-items-center bg-mint-green-50 px-6 pt-6 sm:pt-12 md:pt-32 lg:px-8">
    <div class="pxsm:py-24 mx-auto max-w-7xl">
      <article class="overflow-hidden bg-white shadow sm:rounded-lg">
        <div class="px-4 py-5 sm:p-6">
          <h1 class="mb-4 text-2xl font-bold text-gray-900">Impressum</h1>
          <hr class="mb-4" />
          <h2 class="mb-4 text-xl font-bold text-gray-900">Metatron Energy GmbH (i.g.)</h2>
          <p class="mb-2 text-sm text-gray-500">
            <strong class="font-semibold text-gray-900">Address:</strong> Dollstraße 8, 85049 Ingolstadt, Germany
          </p>
          <p class="mb-2 text-sm text-gray-500">
            <strong class="font-semibold text-gray-900">Email:</strong> john@metatron.energy
          </p>
          <p class="mb-2 text-sm text-gray-500">
            <strong class="font-semibold text-gray-900">Represented by:</strong> Kurashvili, John
          </p>
          <hr class="mb-4" />
          <h2 class="mb-4 text-xl font-bold text-gray-900">Metatron Energy Private Limited (u.f.)</h2>
          <p class="mb-2 text-sm text-gray-500">
            <strong class="font-semibold text-gray-900">Address:</strong> Bukit Batok St 24, Singapore 654290
          </p>
          <p class="mb-2 text-sm text-gray-500">
            <strong class="font-semibold text-gray-900">Email:</strong> vishnu@metatron.energy
          </p>
          <p class="mb-2 text-sm text-gray-500">
            <strong class="font-semibold text-gray-900">Represented by:</strong> R Menon, Vishnu
          </p>
        </div>
      </article>
      <!-- <img src={privacyImage.src} alt="Girl waviinig an EU flag with a lock" class="my-8 w-[24rem] max-w-none sm:w-[40rem]" /> -->
    </div>
  </main>
</Layout>
