---
import Layout from '../layouts/Layout.astro'
import HeroBackground from '../components/HeroBackground.astro'
import IconListItem from '../components/IconListItem.astro'
import Section from '../components/Section.astro'
import Feature from '../components/Feature.astro'
import BenefitSection from '../components/BenefitSection.astro'
import Navbar from '../components/Navbar.astro'
import Button from '../components/Button.astro'
import QuoteBlock from '../components/QuoteBlock.astro'

const features = [
  {
    title: 'Tokenise and manage your energy portfolio',
    icon: 'heroicons:puzzle-piece',
  },
  {
    title: 'Invest in first citizen-run energy infrastructure fund',
    icon: 'heroicons:user-group',
  },
  {
    title: 'A new class of cryptocurrency backed by Real World Assets',
    icon: 'heroicons:currency-dollar',
  },
]
---

<Layout title="Metatron: Unlocking a a just renewable transition for all">
  <main class="h-screen">
    <div class="h-full mx-auto max-w-7xl flex flex-col justify-center">
      <div class="lg:my-auto px-4 text-center md:text-left sm:p-8 lg:p-12 z-20">
        <h1 class="text-4xl sm:text-6xl xl:text-8xl mt-4 z-10 max-w-3xl">
          <span class="text-gradient">Liquid, green investments</span>
        </h1>
        <h2 class="text-2xl sm:text-3xl xl:text-4xl mt-2 max-w-2xl">
          Unlock new value from your energy projects with Metatron's tokenization platform.
        </h2>
        <div class="flex flex-col items-center md:items-start mx-auto md:flex-row space-y-4 md:space-y-0 md:space-x-4 mt-4 md:mt-8">
          <!-- <Button gradientBorder>Get Whitepaper</Button> -->
          <Button gradientBorder>Partner Login</Button>
        </div>
      </div>
    </div>
    <!-- <HeroBackground /> -->
  </main>
  <Section>
    <slot slot="heading"><span>Making energy investments dramatically more accessible</span></slot>
    <slot slot="paragraph"
      >Metatron revolutionizes renewable energy financing by bringing liquidity to a traditionally illiquid market. Our platform leverages
      blockchain technology to fractionalize assets, making it easier than ever for individuals and businesses worldwide to invest in green
      energy projects. Join us in accelerating the global transition to sustainable energy, with secure, transparent, and accessible
      investments.</slot
    >
    <div class="mx-auto mt-4 sm:mt-8 lg:mt-12">
      <dl class="grid max-w-xl grid-cols-1 gap-x-8 gap-y-8 sm:max-w-none sm:grid-cols-2 md:max-w-none md:grid-cols-3">
        {features.map((feature) => <Feature {...feature} />)}
      </dl>
    </div>
  </Section>
  <BenefitSection
    imageUrl="https://tailwindui.com/img/component-images/dark-project-app-screenshot.png"
    imageAlt="Product screenshot"
    imagePosition="left"
    bgColor="bg-gray-50"
  >
    <h2 slot="benefit-heading" class="text-base font-semibold leading-7 text-mint-green-600">Empowering Project Developers</h2>
    <div slot="benefit-description">
      <p class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">
        Invert the Liquidity Equation: From Fixed to Fluid Financials
      </p>
      <p class="mt-6 text-lg leading-8 text-gray-600">Unlock new value from your energy projects with Metatron's tokenization platform.</p>
    </div>

    <div slot="benefit-list">
      <ul class="mt-4 max-w-xl space-y-2 leading-7 text-gray-500 lg:max-w-none">
        <IconListItem text="Increase liquidity, providing flexibility to manage and scale operations" />
        <IconListItem text="Potential for higher returns than traditional asset management models" />
        <IconListItem text="Gain access to a global network of eco-conscious investors" />
      </ul>
      <QuoteBlock
        bgColor="bg-gray-800"
        logoUrl="https://www.rolandberger.com/img/assets/RoBe_Logotype_White_Digital.png"
        logoAlt="Roland Berger"
        quoteText="We firmly believe that asset tokenization will grow to become a market worth at least USD 10 trillion by 2030."
        authorImageUrl="https://img.rolandberger.com/img/Stage-Logos/b_standard_800x960_stage_logo_none.png"
        authorImageAlt="Roland Berger Logo"
        authorName="Roland Berger"
        authorDate="October 2023"
      />
    </div>
  </BenefitSection>
  <BenefitSection
    imageUrl="https://tailwindui.com/img/component-images/dark-project-app-screenshot.png"
    imageAlt="Product screenshot"
    imagePosition="right"
    bgColor="bg-white"
  >
    <h2 slot="benefit-heading" class="text-base font-semibold leading-7 text-mint-green-600">Take control of your energy future</h2>
    <div slot="benefit-description">
      <p class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Invest in community-run green energy projects</p>
      <p class="mt-6 text-lg leading-8 text-gray-600">
        Invest alongside a community in emerging solar and wind projects, paving the way for a sustainable future while earning returns.
        Your investment transcends traditional energy consumption, actively participating in renewable production, sharing in the benefits
        of the lowest-cost, green energy.
      </p>
    </div>

    <div slot="benefit-list">
      <ul class="mt-4 max-w-xl space-y-2 leading-7 text-gray-500 lg:max-w-none">
        <IconListItem text="Greenest and most responsible form of energy investment" />
        <IconListItem text="Cheaper than home and onsite energy projects: shared energy projects generate energy at 50% lower cost" />
        <IconListItem text="Enjoy flexible asset management — sell, or expand your stake with ease" />
      </ul>
      <!-- <QuoteBlock
        bgColor="bg-gray-800"
        logoUrl="https://www.rolandberger.com/img/assets/RoBe_Logotype_White_Digital.png"
        logoAlt="Roland Berger"
        quoteText="We firmly believe that asset tokenization will grow to become a market worth at least USD 10 trillion by 2030."
        authorImageUrl="https://img.rolandberger.com/img/Stage-Logos/b_standard_800x960_stage_logo_none.png"
        authorImageAlt="Roland Berger Logo"
        authorName="Roland Berger"
        authorDate="October 2023"
      /> -->
    </div>
  </BenefitSection>
  <BenefitSection
    imageUrl="https://tailwindui.com/img/component-images/dark-project-app-screenshot.png"
    imageAlt="Product screenshot"
    imagePosition="left"
    bgColor="bg-gray-50"
  >
    <h2 slot="benefit-heading" class="text-base font-semibold leading-7 text-mint-green-600">
      Unleasing the full potential of decentralised financing
    </h2>
    <div slot="benefit-description">
      <p class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">ETRON: Inflation-Proof Green Investments</p>
      <p class="mt-6 text-lg leading-8 text-gray-600">
        Introducing ETRON, a novel stablecoin backed by the real-world performance of renewable energy markets. This innovative financial
        instrument combines the security of tangible assets with the growth potential of green energy, offering a resilient investment
        against economic shifts while driving sustainable development.
      </p>
    </div>

    <div slot="benefit-list">
      <ul class="mt-4 max-w-xl space-y-2 leading-7 text-gray-500 lg:max-w-none">
        <IconListItem text="Guard against inflation with energy-revenue-backed stability" />
        <IconListItem text="Unlock access to decentralized finance, loans, and yield opportunities with a sustainable investment" />
        <IconListItem text="Supports renewable energy growth, ensuring long-term liquidity" />
      </ul>
      <!-- <QuoteBlock
        bgColor="bg-gray-800"
        logoUrl="https://www.rolandberger.com/img/assets/RoBe_Logotype_White_Digital.png"
        logoAlt="Roland Berger"
        quoteText="We firmly believe that asset tokenization will grow to become a market worth at least USD 10 trillion by 2030."
        authorImageUrl="https://img.rolandberger.com/img/Stage-Logos/b_standard_800x960_stage_logo_none.png"
        authorImageAlt="Roland Berger Logo"
        authorName="Roland Berger"
        authorDate="October 2023"
      /> -->
    </div>
  </BenefitSection>
</Layout>

<style>
  main {
    color: white;
    /* background-color: #a4fcad; */
    background-image: url('/hero-bg.png');
    background-size: cover;
    background-position: center;
  }

  .text-gradient {
    /* background-image: var(--accent-gradient); */
    background-image: linear-gradient(to right, rgb(26, 139, 1) 0%, #091509 30%, white 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }

  @font-face {
    font-family: 'Kollektif';
    src: url('/fonts/kollektif.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
</style>
