---
import Layout from '../layouts/Layout.astro'
import HeroBackground from '../components/HeroBackground.astro'
import IconListItem from '../components/IconListItem.astro'
import Section from '../components/Section.astro'
import Feature from '../components/Feature.astro'
import BenefitSection from '../components/BenefitSection.astro'
import QuoteBlock from '../components/QuoteBlock.astro'
import Button from '../components/Button.astro'
import financingImg from '../images/financing.png'
import crowdImg from '../images/crowd.png'
import CTASection from '../components/CTASection.astro'

const features = [
  {
    title: 'Tokenize your solar and wind energy assets',
    description:
      'Transform your renewable energy assets into fractional, transparent and liquid commodities. Streamline your investment portfolio for greater flexibility and potential returns.',
    icon: 'heroicons:puzzle-piece',
  },
  {
    title: 'Connect with a global investment community',
    description:
      'Unlock private markets and collaborate with eco-conscious investors worldwide. Be part of the global movement shaping the future of green finance.',
    icon: 'heroicons:user-group',
  },
  {
    title: 'Experience seamless, secure financing',
    description:
      'Invest securely and watch your contributions grow. Benefit from automated, transparent revenue distributions powered by smart contracts and digital ledger technology.',
    icon: 'heroicons:currency-dollar',
  },
]
---

<Layout title="Metatron: Unlocking a a just renewable transition for all">
  <main class="h-screen">
    <div class="mx-auto flex h-full max-w-7xl flex-col justify-center">
      <div class="z-20 px-4 text-center sm:p-8 md:text-left lg:my-auto lg:p-12">
        <h1 class="z-10 mt-4 max-w-3xl text-4xl sm:text-6xl xl:text-8xl">
          <span class="text-gradient">Liquid, green investments</span>
        </h1>
        <h2 class="mt-2 max-w-2xl text-2xl sm:text-3xl xl:text-4xl">
          Unlock new value from your energy projects with Metatron's tokenization platform.
        </h2>
        <div class="mx-auto mt-4 flex flex-col items-center space-y-4 md:mt-8 md:flex-row md:items-start md:space-x-4 md:space-y-0">
          <!-- <Button gradientBorder>Get Whitepaper</Button> -->
          <!-- <Button gradientBorder>Partner Login</Button> -->
        </div>
      </div>
    </div>
    <!-- <HeroBackground /> -->
  </main>
  <Section>
    <slot slot="heading"><span>Making energy investments dramatically more accessible</span></slot>
    <slot slot="paragraph"
      >Metatron unites a global community in the mission to fast-track the renewable energy transition through digitalization and
      collaboration. Our trustless platform simplifies the investment process, reducing the time and costs associated with financing green
      energy projects.</slot
    >
    <div class="mx-auto mt-4 sm:mt-8 lg:mt-12">
      <dl class="grid max-w-xl grid-cols-1 gap-x-8 gap-y-8 sm:max-w-none sm:grid-cols-2 md:max-w-none md:grid-cols-3">
        {features.map((feature) => <Feature {...feature} />)}
      </dl>
    </div>
  </Section>
  <BenefitSection imageUrl={financingImg.src} imageAlt="Product screenshot" imagePosition="left" bgColor="bg-white">
    <h2 slot="benefit-heading" class="text-base font-semibold leading-7 text-mint-green-600">
      Empowering project developers and asset managers
    </h2>
    <div slot="benefit-description">
      <p class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">You do not deserve to pay the liquidity premium</p>
      <p class="mt-6 text-lg text-gray-600">
        Unlock hidden value in your renewable energy projects, transforming them from fixed assets into dynamic, tradeable entities. Break
        free the constraints of traditional financing—lengthy negotiations, unnecessary intermediaries, and restrictive lock-ins. Take back
        control and do what you do best - Building our greener tomorrow
      </p>
    </div>

    <div slot="benefit-list">
      <ul class="my-4 max-w-xl space-y-2 leading-7 text-gray-500 lg:max-w-none">
        <IconListItem text="Secure debt-free capital at almost 10-fold faster" />
        <IconListItem text="Enhance net asset value through global investor exposure" />
        <IconListItem text="Cut operational costs by eliminating intermediaries" />
      </ul>
      <Button color="bg-mint-green-600" href="/solutions/project-developer">Learn More</Button>
    </div>
  </BenefitSection>
  <BenefitSection imageUrl={crowdImg.src} imageAlt="Product screenshot" imagePosition="right" bgColor="bg-white">
    <h2 slot="benefit-heading" class="text-base font-semibold leading-7 text-mint-green-600">Take control of your energy future</h2>
    <div slot="benefit-description">
      <p class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">
        Investing in Renewable Energy Made Flexible and Universal
      </p>
      <p class="mt-6 text-lg leading-8 text-gray-600">
        Individuals, SMEs and communities can directly invest in previously inaccessible utility-scale energy projects. Along with receiving
        a steady revenue, you are delivering the most impact to accelerate the renewable energy transition.
      </p>
    </div>

    <div slot="benefit-list">
      <ul class="mt-4 max-w-xl space-y-2 leading-7 text-gray-500 lg:max-w-none">
        <IconListItem text="Commit your capital to the greenest and most responsible investments" />
        <IconListItem text="Benefit from projects that deliver energy 50% cheaper than home and onsite projects" />
        <IconListItem text="Enjoy flexible asset management — sell, or expand your stake with ease" />
      </ul>
    </div>
  </BenefitSection>
  <!-- <BenefitSection
    imageUrl="https://tailwindui.com/img/component-images/dark-project-app-screenshot.png"
    imageAlt="Product screenshot"
    imagePosition="left"
    bgColor="bg-gray-50"
  >
    <h2 slot="benefit-heading" class="text-base font-semibold leading-7 text-mint-green-600">
      Unleasing the full potential of decentralised financing
    </h2>
    <div slot="benefit-description">
      <p class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">ETRON: Inflation-Proof Green Investments</p>
      <p class="mt-6 text-lg text-gray-600 leading-8">
        Introducing ETRON, a novel stablecoin backed by the real-world performance of renewable energy markets. This innovative financial
        instrument combines the security of tangible assets with the growth potential of green energy, offering a resilient investment
        against economic shifts while driving sustainable development.
      </p>
    </div>

    <div slot="benefit-list">
      <ul class="max-w-xl mt-4 text-gray-500 space-y-2 leading-7 lg:max-w-none">
        <IconListItem text="Guard against inflation with energy-revenue-backed stability" />
        <IconListItem text="Unlock access to decentralized finance, loans, and yield opportunities with a sustainable investment" />
        <IconListItem text="Supports renewable energy growth, ensuring long-term liquidity" />
      </ul>
    </div>
  </BenefitSection> -->
  <!-- CTA -->
  <CTASection
    bgColor="bg-mint-green-800"
    heading="Accelerate your funding cycle - Smarter, faster and responsible"
    action-text="Schedule a demo"
    actiion-link="https://calendly.com/metatron-demo/30min"
    description="Reach out to us to learn more about how you can benefit from being part of the community"
  >
    <div class="mt-4 flex justify-center">
      <Button href="https://calendly.com/metatron-demo/30min" target="_blank">Schedule a demo</Button>
    </div>
  </CTASection>
</Layout>

<style>
  main {
    color: white;
    /* background-color: #a4fcad; */
    background-image: url('/hero-bg.png');
    background-size: cover;
    background-position: center;
  }

  .text-gradient {
    /* background-image: var(--accent-gradient); */
    background-image: linear-gradient(to right, rgb(26, 139, 1) 0%, #091509 30%, white 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }

  @font-face {
    font-family: 'Kollektif';
    src: url('/fonts/kollektif.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
</style>
