---
const { imageUrl = '', imageAlt = '', imagePosition = 'right', bgColor = 'bg-white' } = Astro.props
---

<div class={`${bgColor} py-16 sm:py-24 overflow-hidden`}>
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 sm:gap-y-20 lg:mx-0 lg:max-w-none lg:grid-cols-2">
      <div class="lg:ml-auto lg:pl-4 lg:pt-4">
        <div class="lg:max-w-lg">
          <slot name="benefit-heading" />
          <slot name="benefit-description" />
          <slot name="benefit-list" />
        </div>
      </div>
      <div class=`flex items-center ${imagePosition === 'left' ? 'lg:order-first justify-end' : 'lg:order-last justify-start'}`>
        <img src={imageUrl} alt={imageAlt} class="w-[24rem] max-w-none sm:w-[40rem]" />
      </div>
    </div>
  </div>
</div>
