---
const { heading, description, bgColor = 'bg-white' } = Astro.props
---

<div class={`${bgColor} py-16 sm:py-24`}>
  <div class="px-6 max-w-7xl lg:px-8">
    <h2 class="max-w-2xl text-2xl tracking-tight text-center lg:text-4xl sm:text-3xl">
      {heading}
    </h2>
    <p class="max-w-2xl mt-4 text-center text-gray-400 text-md sm:text-xl lg:text-2xl">
      {description}
    </p>
    <slot />
  </div>
</div>
