---
import Button from './Button.astro'
---

<footer class="bg-gray-900" aria-labelledby="footer-heading">
  <h2 id="footer-heading" class="sr-only">Footer</h2>
  <div class="mx-auto max-w-7xl px-6 pb-8 pt-16 sm:pt-24 lg:px-8 lg:pt-32">
    <div class="xl:grid xl:grid-cols-3 xl:gap-8">
      <div class="space-y-8">
        <h2 class="my-0 text-2xl text-white">Metatron</h2>
        <p class="text-sm leading-6 text-gray-300">Making energy investments dramatically more accessible</p>
        <div class="flex space-x-6">
          <a href="https://twitter.com/MetatronEnergy" class="text-gray-500 hover:text-gray-400">
            <span class="sr-only">X</span>
            <svg class="h-6 w-6" fill="currentColor" viewBox="0 0 24 24" aria-hidden="true">
              <path
                d="M13.6823 10.6218L20.2391 3H18.6854L12.9921 9.61788L8.44486 3H3.2002L10.0765 13.0074L3.2002 21H4.75404L10.7663 14.0113L15.5685 21H20.8131L13.6819 10.6218H13.6823ZM11.5541 13.0956L10.8574 12.0991L5.31391 4.16971H7.70053L12.1742 10.5689L12.8709 11.5655L18.6861 19.8835H16.2995L11.5541 13.096V13.0956Z"
              ></path>
            </svg>
          </a>
        </div>
      </div>
      <div class="mt-16 grid grid-cols-2 gap-8 xl:col-span-2 xl:mt-0">
        <div class="md:grid md:grid-cols-2 md:gap-8">
          <div>
            <h3 class="text-sm font-semibold leading-6 text-white">Solutions</h3>
            <ul role="list" class="mt-6 space-y-4">
              <li>
                <a href="/solutions/project-developer" class="text-sm leading-6 text-gray-300 hover:text-white">Project Developer</a>
              </li>
              <li>
                <a class="text-sm leading-6 text-gray-500 hover:text-gray-400">Individual (Cominig Soon)</a>
              </li>
              <li>
                <a class="text-sm leading-6 text-gray-500 hover:text-gray-400">Business (Coming Soon)</a>
              </li>
              <li>
                <a class="text-sm leading-6 text-gray-500 hover:text-gray-400">Municipalities & Cities (Coming Soon)</a>
              </li>
            </ul>
          </div>
          <div class="mt-10 md:mt-0">
            <h3 class="text-sm font-semibold leading-6 text-white">Support</h3>
            <ul role="list" class="mt-6 space-y-4">
              <li>
                <a href="/knowledge-base" class="text-sm leading-6 text-gray-300 hover:text-white">Knowledge Base</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="md:grid md:grid-cols-2 md:gap-8">
          <div>
            <h3 class="text-sm font-semibold leading-6 text-white">Company</h3>
            <ul role="list" class="mt-6 space-y-4">
              <!-- <li>
                <a href="/about" class="text-sm leading-6 text-gray-300 hover:text-white">About</a>
              </li> -->
              <li>
                <a href="/jobs" class="text-sm leading-6 text-gray-300 hover:text-white">Jobs</a>
              </li>
              <li>
                <a href="/contact-us" class="text-sm leading-6 text-gray-300 hover:text-white">Contact Us</a>
              </li>
            </ul>
          </div>
          <div class="mt-10 md:mt-0">
            <h3 class="text-sm font-semibold leading-6 text-white">Legal</h3>
            <ul role="list" class="mt-6 space-y-4">
              <li>
                <a href="#" class="text-sm leading-6 text-gray-300 hover:text-white">Imprint</a>
              </li>
              <li>
                <a href="#" class="text-sm leading-6 text-gray-300 hover:text-white">Privacy</a>
              </li>
              <li>
                <a href="#" class="text-sm leading-6 text-gray-300 hover:text-white">Terms</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="mt-16 border-t border-white/10 pt-8 sm:mt-20 lg:mt-24">
      <p class="text-xs leading-5 text-gray-400">&copy; 2024 Metatron Energy Private Limited. All rights reserved.</p>
    </div>
  </div>
</footer>

<style>
  h2 {
    font-family: 'Akira Expanded';
  }
</style>
