---
// Import statements if any
// const { openModal } = Astro.props;
import Button from "./Button.astro"
---

<nav
  class="absolute top-0 left-0 right-0 max-w-7xl mx-auto items-center text-center p-4 sm:p-8 lg:p-12 bg-transparent text-white z-50"
>
  <h1 class="text-3xl lg:text-4xl font-bold ">METATRON</h1>
  
</nav>


<style>

	h1 {
		font-family: "Akira Expanded";
	}




@keyframes animatedgradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
</style>