---
// Section component for headings and paragraphs
const { bgColor = 'bg-white' } = Astro.props
---

<!-- src/components/Section.astro -->
<div class={`${bgColor} py-16 sm:py-24`}>
  <div class="px-6 mx-auto max-w-7xl lg:px-8">
    <div class="mx-auto lg:mx-0">
      <h2 class="max-w-2xl text-2xl tracking-tight lg:text-4xl sm:text-xl">
        <slot name="heading" />
      </h2>
      <p class="max-w-2xl mt-4 text-gray-400 text-md sm:text-lg lg:text-xl">
        <slot name="paragraph" />
      </p>
      <slot />
    </div>
  </div>
</div>
