---
interface TimeBlockProps {
  number: string
  heading: string
  description: string
}
const { number, heading, description } = Astro.props as TimeBlockProps
---

<div class="relative pb-4 pl-8 border-l-2 border-gray-300 last:border-l-0">
  <div class="absolute flex items-center justify-center w-10 h-10 border-4 border-gray-300 rounded-full -top-5 -left-5 bg-mint-green-600">
    <span class="text-xs font-bold text-white">{number}</span>
  </div>
  <h2 class="text-lg font-semibold">{heading}</h2>
  <p class="text-gray-600">{description}</p>
</div>
