---
import Layout from '../../layouts/Layout.astro'
import Section from '../../components/Section.astro'
import Feature from '../../components/Feature.astro'
import QuoteBlock from '../../components/QuoteBlock.astro'
import { Image } from 'astro:assets'
import gardenImage from '../../images/garden.png'
import Timeline from '../../components/Timeline.astro'
import CTASection from '../../components/CTASection.astro'
import Button from '../../components/Button.astro'
import { Icon } from 'astro-icon/components'

const features = [
  {
    title: 'Community Engagement and Ownership',
    description:
      'Crowdfunding connects community members to your project, aligning its success with their environmental values, benefiting the community and your company.',
    icon: 'heroicons:puzzle-piece',
  },
  {
    title: 'Educational Advantages and Awareness',
    description:
      'Educating the public about renewable energy through crowdfunding empowers the community and local authorities to support green initiatives.',
    icon: 'heroicons:user-group',
  },
  {
    title: 'Trust-Building Through Transparency',
    description:
      'Transparency in crowdfunding builds trust. Regular updates on progress, challenges, and achievements cultivate customer loyalty and enhance reputation.',
    icon: 'heroicons:currency-dollar',
  },
]

const timeBlocks = [
  {
    number: '1',
    heading: 'Project Evaluation and Framework Setup',
    description:
      "Begin with a detailed assessment to unlock your project's full potential. We'll navigate you through the regulatory environment, ensuring your project is primed for tokenization with all legal standards met.",
  },
  {
    number: '2',
    heading: 'Asset Tokenisation',
    description:
      "Utilize Metatron to form a Special Purpose Vehicle (SPV) tailored to your project. This step democratizes your project's equity by breaking it into digital tokens. Our platform streamlines the token creation and distribution process, symbolizing equity stakes in future revenue streams.",
  },
  {
    number: '3',
    heading: 'Automating Operations with Smart Contracts',
    description:
      'Embed efficiency and transparency into your project through our smart contract infrastructure. From token sales and equity management to revenue distribution, our automated contracts execute essential operations reliably, based on set protocols.',
  },
  {
    number: '4',
    heading: 'Ensuring Fair and Transparent Revenue Sharing',
    description:
      'Integrate smart meters to track and monetize the energy generation of your project. Profits are automatically allocated to investors proportionally via smart contracts, guaranteeing a transparent and equitable revenue sharing process.',
  },
]
---

<Layout title="Metatron: Unlocking a a just renewable transition for all">
  <!-- Main feature highlight -->
  <div class="bg-white py-24 sm:py-32">
    <div class="mx-auto max-w-7xl px-6 lg:mt-12 lg:px-8">
      <div class="mx-auto max-w-2xl lg:text-center">
        <h2 class="text-base font-semibold leading-7 text-mint-green-600">Project Developer & Asset Managers</h2>
        <p class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">
          A Comprehensive Financing Platform for Renewable Energy
        </p>
      </div>
      <div class="mx-auto mt-16 max-w-2xl sm:mt-20 lg:mt-24 lg:max-w-4xl">
        <dl class="grid max-w-xl grid-cols-1 gap-x-8 gap-y-10 lg:max-w-none lg:grid-cols-2 lg:gap-y-16">
          <div class="relative pl-16">
            <dt class="text-base text-xl font-bold leading-7 text-gray-900">
              <div class="absolute left-0 top-0 flex h-10 w-10 items-center justify-center rounded-lg bg-mint-green-600">
                <Icon name="heroicons:bolt" class="h-12 w-12 p-2 text-gray-800 text-white group-hover:text-mint-green-600" />
              </div>
              10x faster financing of renewable energy projects
            </dt>
            <dd class="mt-2 text-base leading-7 text-gray-600">
              Without brokers and other intermediries, connect to a global network of approved, eco-conscious investors directly and secure
              financing in days, not months or a year.
            </dd>
          </div>
          <div class="relative pl-16">
            <dt class="text-base text-xl font-bold leading-7 text-gray-900">
              <div class="absolute left-0 top-0 flex h-10 w-10 items-center justify-center rounded-lg bg-mint-green-600">
                <Icon name="heroicons:currency-dollar" class="h-12 w-12 p-2 text-gray-800 text-white group-hover:text-mint-green-600" />
              </div>
              50% lower transaction costs
            </dt>
            <dd class="mt-2 text-base leading-7 text-gray-600">
              Lowering entry barriers democratizes funding, inviting more investors and fostering competitive, favorable offers.
            </dd>
          </div>
          <div class="relative pl-16">
            <dt class="text-base text-xl font-bold leading-7 text-gray-900">
              <div class="absolute left-0 top-0 flex h-10 w-10 items-center justify-center rounded-lg bg-mint-green-600">
                <Icon name="heroicons:calendar-days" class="h-12 w-12 p-2 text-gray-800 text-white group-hover:text-mint-green-600" />
              </div>
              Same-day settlements
            </dt>
            <dd class="mt-2 text-base leading-7 text-gray-600">
              Blockchain and smart contracts enable instant fund settlement, allowing developers to access funds the same day crowdfunding
              goals are met.
            </dd>
          </div>
          <div class="relative pl-16">
            <dt class="text-base text-xl font-bold leading-7 text-gray-900">
              <div class="absolute left-0 top-0 flex h-10 w-10 items-center justify-center rounded-lg bg-mint-green-600">
                <Icon name="heroicons:globe-europe-africa" class="h-12 w-12 p-2 text-gray-800 text-white group-hover:text-mint-green-600" />
              </div>
              Access to a broader pool of investors
            </dt>
            <dd class="mt-2 text-base leading-7 text-gray-600">
              A broader investor pool not only fuels current projects with diverse funding but also elevates company recognition, smoothing
              the path for future endeavors.
            </dd>
          </div>
        </dl>
      </div>
    </div>
  </div>

  <!-- Quote from Roland Berger -->
  <div class="flex items-center justify-center bg-white p-4 lg:p-10">
    <div class="max-w-2xl">
      <QuoteBlock
        bgColor="bg-gray-800"
        logoUrl="https://www.rolandberger.com/img/assets/RoBe_Logotype_White_Digital.png"
        logoAlt="Roland Berger"
        quoteText="We firmly believe that asset tokenization will grow to become a market worth at least USD 10 trillion by 2030."
        authorImageUrl="https://img.rolandberger.com/img/Stage-Logos/b_standard_800x960_stage_logo_none.png"
        authorImageAlt="Roland Berger Logo"
        authorName="Roland Berger"
        authorDate="October 2023"
      />
    </div>
  </div>

  <!-- Communitiy/Social Impact -->
  <Section>
    <slot slot="heading">
      <div class="flex flex-col items-start">
        <img src={gardenImage.src} alt="Girl sitting in a garden with flowers growing." class="mb-4 w-96" />
        <h2 class="text-3xl font-bold tracking-tight sm:text-4xl">Empowering Communities and Driving Social Change with Crowdfunding</h2>
      </div>
    </slot>
    <slot slot="paragraph"
      >Choosing crowdfunding over traditional financing increases the social impact of your renewable energy projects, promoting community
      engagement and societal benefits. This approach to financing can mobilize public support and create a dedicated base of backers who
      are invested both financially and emotionally in the success of your projects.</slot
    >
    <div class="mx-auto mt-4 sm:mt-8 lg:mt-12">
      <dl class="grid max-w-xl grid-cols-1 gap-x-8 gap-y-8 sm:max-w-none sm:grid-cols-2 md:max-w-none md:grid-cols-3">
        {features.map((feature) => <Feature {...feature} />)}
      </dl>
    </div>
  </Section>

  <!-- How it works Section -->
  <div class="overflow-hidden bg-gray-50 py-16 sm:py-24">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
      <div class="mx-auto grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 sm:gap-y-20 lg:mx-0 lg:max-w-none lg:grid-cols-2">
        <div class="lg:ml-auto lg:pl-4 lg:pt-4">
          <div class="lg:max-w-lg">
            <h1 class="pr-8 text-3xl font-bold tracking-tight sm:text-4xl">How financing on Metatron works</h1>
            <slot name="benefit-description" />
          </div>
        </div>

        <Timeline blocks={timeBlocks} />
      </div>
    </div>
  </div>

  <!-- CTA -->
  <CTASection
    bgColor="bg-mint-green-200"
    heading="Accelerate your funding cycle - Smarter, faster and responsible"
    action-text="Schedule a demo"
    actiion-link="https://calendly.com/metatron-demo/30min"
    description="Reach out to us to learn more about how you can benefit from being part of the community"
  >
    <div class="mt-4 flex justify-center">
      <Button href="https://calendly.com/metatron-demo/30min" target="_blank">Schedule a demo</Button>
    </div>
  </CTASection>
</Layout>

<style>
  main {
    color: white;
    /* background-color: #a4fcad; */
    background-image: url('/hero-bg.png');
    background-size: cover;
    background-position: center;
  }

  .text-gradient {
    /* background-image: var(--accent-gradient); */
    background-image: linear-gradient(to right, rgb(26, 139, 1) 0%, #091509 30%, white 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }

  @font-face {
    font-family: 'Kollektif';
    src: url('/fonts/kollektif.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
</style>
